label {
    font-size: 1.5em;
    margin: 8px 0px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form {
    background-color: white;
    max-width: 560px;
    min-width: 320px;
}
.card-dir{
    align-self: flex-start;
}